<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--我们把渲染完成以后的内容插入到ejs模板当中，见名知意，插入的内容包括有title、style、app组件等内容-->
  <%- title %>

  <%- style %>
</head>
<body>
  <div id="root"><%- appString %></div>

  <%- initialState %>

  <%- scripts %>
</body>
</html>
